a.deco-none {
    color: inherit;
    text-decoration: inherit;
}

a.deco-none:link {
    color: inherit;
    text-decoration: inherit;
}

a.deco-none:hover {
    color: inherit;
    text-decoration: inherit;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 2px 16px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}